#bannercontainer {
    height: 50vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url(../../assets/family_blue_banner.jpg);
    position: relative;
    
}



#bottombanner {
    height: 2vh;
}

#text {
    font-family: 'Mulish', sans-serif;
}