$theme-colors: (
  'primary': #486376,
  'primary2': #0b1f30,
  'primary3': #253f51,
  'secondary': #dcc34f,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #001738,
);

h2,h3,h4,h5,h6,p,a {
  font-family: 'Mulish', sans-serif;
}

li {
  font-family: 'Mulish', sans-serif;
  
}

h1 {
  font-family: 'Courgette', cursive;
  color: #486376;
}


@import '/node_modules/bootstrap/scss/bootstrap.scss';